extends layout

block next_appointments
	p Here are your next three appointments:
	ul(id="appointments")


	script
		var jqxhr = $.getJSON('http://localhost:5000/calendar/getItems/3',{}, function (data) {
			for (var i=0;i<data.length;i++){
				var li = $('<li>');
				li.html(data[i].Name);
				$('#appointments').append(li);
			}
		});
		jqxhr.error(function(){
			console.log("Woo!");
			})

block new_event
	a(href="#planModal", data-toggle="modal") New Event
	div(id="planModal", class="modal hide fade", tabindex="-1", role="dialog")
		div(class="modal-header")
			button(type="button", class="close", data-dismiss="modal") x
			h3(id="myModalLabel") New Event
		div(class="modal-body")
			form(action='/calendar/new_event', method="post", id="newEventForm")
				label(for="newEventName") Event Name : 
					input(id="newEventName", name="newEventName", tabindex="1", autofocus="true")
				label(for="newEventDate") Event Date : 
					input(id="newEventDate", name="newEventDate", type="datetime", tabindex="1", autofocus="true") 
				label(for="newEventDescription") Event Description : 				
					input(id="newEventDescription", name="newEventDescription", tabindex="1", autofocus="true")
				label(for="newEventAttendees") Event Attendees : 				
					input(id="newEventAttendees", name="newEventAttendees", tabindex="1", autofocus="true")				
		div(class="modal-footer")
			button(class="btn", data-dismiss="modal") Close
			button(id="saveNewEvent", class="btn btn-primary") Save
	script
		$("#newEventDate").datepicker();
		$("#saveNewEvent").click(function(){
			$("newEventForm").submit();
		});

block next_time	
	select(name="nextTime", id="nextTime")
	option(value="Grab Drink")
	option(value="Grab Lunch")
	option(value="Grab Dinner")	
	option(value="Grab Drink")
	option(value="Grab Drink")